*,
::after,
::before {
  font-size: inherit;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

ol[class],
ul[class] {
  padding: 0;
}

blockquote,
body,
dd,
dl,
figcaption,
figure,
h1,
h2,
h3,
h4,
li,
ol[class],
p,
ul[class] {
  margin: 0;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
}

ol[class],
ul[class] {
  list-style: none;
}

a:not([class]) {
  -webkit-text-decoration-skip: ink;
  text-decoration-skip-ink: auto;
}

a {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

img {
  height: 100%;
  display: block;
}

article > * + * {
  margin-top: 1em;
}

button,
input,
select,
textarea {
  font: inherit;
}

.link {
  text-decoration: none;
}

.body {
  font-family: Gilroy-Regular, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.wrapper--slider {
  padding-bottom: 50px;
}

.title {
  font-family: Gilroy-Semibold, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.header {
  padding: 20px 0;
}

.header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__img {
  max-height: 50px;
}

.header__img--pult {
  max-height: 30px;
}

.slider {
  margin-top: 40px;
}

.slider__baner {
  max-height: 540px;
  position: relative;
}

.slider__img {
  height: 100%;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.slider__text {
  position: absolute;
  bottom: 0;
  padding: 20px 60px;
  font-size: 40px;
  line-height: 100%;
  color: #1d9cd8;
  text-transform: uppercase;
}

.slider__text--right {
  right: 0;
}

.slider__text--black {
  color: black;
}

.slider__text--white {
  color: white;
}

.slider__text--discount {
  color: white;
  font-size: 59px;
  line-height: 100%;
  letter-spacing: 2px;
}

.slider__text--discount-b {
  font-family: gilroy-semibold, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 190px;
  line-height: 100%;
}

.slider__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 60px;
  padding: 0 60px;
  background-color: #1d9cd8;
  color: white;
}

.slider__title {
  font-family: gilroy-semibold, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.slider__text-footer {
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-top: 2px;
}

.swiper-pagination-bullet {
  width: 18px;
  height: 18px;
  background: #1d9cd8;
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background: black;
}

.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 10px;
}

.swiper-container-horizontal > .swiper-pagination-bullets,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  bottom: 0px;
}

.menu {
  margin-top: 40px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu__col {
  width: 50%;
}

.menu__widget {
  height: 100%;
}

.menu__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: color 0.5s ease;
  -o-transition: color 0.5s ease;
  transition: color 0.5s ease;
}

.widget {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  font-family: gilroy-semibold, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #1d9cd8;
}

.widget__item {
  cursor: pointer;
  -webkit-transition: color 0.5s ease;
  -o-transition: color 0.5s ease;
  transition: color 0.5s ease;
  -ms-flex-item-align: start;
      align-self: flex-start;
  padding: 10px 0;
}

.widget__item.active {
  -webkit-transition: color 0.5s ease;
  -o-transition: color 0.5s ease;
  transition: color 0.5s ease;
  color: black;
}

.product {
  margin-top: 40px;
}

.product__grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.product__picture {
  width: 50%;
}

.product__picture-title {
  display: none;
}

.product__img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  background: #8ecae4;
}

.product__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 50%;
  padding-left: 60px;
}

.product__title {
  font-size: 40px;
  line-height: 100%;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.product__text {
  font-family: Gilroy-UltraLight;
  font-size: 18px;
  line-height: 30px;
  color: #0e0e0e;
}

.product__get {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.product__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 70px;
  padding: 25px 60px;
  font-family: Gilroy-Semibold, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 2px;
  color: #8ecae4;
  border-radius: 40px;
  border: 2px solid #8ecae4;
  text-transform: uppercase;
}

.product__btn:hover,
.product__btn:active {
  background: #8ecae4;
  color: white;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.product__prices {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-right: 20px;
}

.product__price--before {
  font-size: 20px;
  line-height: 100%;
  -webkit-text-decoration-line: line-through;
          text-decoration-line: line-through;
  color: #0e0e0e;
}

.product__price--after {
  font-size: 36px;
  line-height: 100%;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-family: Gilroy-Bold;
  color: #8ecae4;
}

.product__colors {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.product__color {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 70px;
  width: 70px;
  border-radius: 50%;
  border: 4px solid white;
}

.product__color.active {
  border: 4px solid #0e0e0e;
  -webkit-transition: border .5s ease;
  -o-transition: border .5s ease;
  transition: border .5s ease;
}

.product__img-color {
  width: 60px;
  height: 60px;
  overflow: hidden;
  border-radius: 50%;
}

.product__question {
  margin: 40px 0 20px;
  font-family: Gilroy-Semibold, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 40px;
  line-height: 100%;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #0e0e0e;
}

.footer {
  margin-top: 220px;
  padding: 100px 0;
  background: #f5f5f5;
}

.footer__blocks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: start;
      align-self: flex-start;
  width: 50%;
}

.footer__columns {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__column:last-child {
  position: relative;
}

.footer__column:last-child .footer__link {
  white-space: nowrap;
}

.footer__column:last-child .footer__link::after {
  position: absolute;
  -webkit-transform: translate(50%, 0);
      -ms-transform: translate(50%, 0);
          transform: translate(50%, 0);
}

.footer__logo-img {
  width: 106px;
  margin-right: 20px;
}

.footer__call {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__tel {
  font-weight: bold;
  font-size: 27px;
  line-height: 100%;
  text-transform: uppercase;
  color: #000;
  text-decoration: none;
}

.footer__tel:hover,
.footer__tel:active {
  text-decoration: underline;
}

.footer__call-text {
  margin-bottom: 1px;
  font-size: 14px;
  line-height: 100%;
  text-transform: uppercase;
  color: #000000;
}

.footer__list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
}

.footer__link {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 100%;
  padding-right: 8px;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
  -webkit-transition: 0.4s ease-in;
  -o-transition: 0.4s ease-in;
  transition: 0.4s ease-in;
}

.footer__link:hover,
.footer__link:active {
  color: #4cc7e9;
  -webkit-transition: 0.2s ease-out;
  -o-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
}

.footer__copyright {
  margin-top: 80px;
  font-size: 14px;
  line-height: 100%;
  text-transform: uppercase;
  color: #000000;
}

@media (max-width: 1200px) {
  .footer {
    padding: 20px;
    margin-top: 120px;
  }

  .footer__block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .footer__call {
    margin-top: 10px;
  }

  .footer__call-text {
    margin-top: 10px;
  }

  .footer__link {
    font-size: 12px;
  }

  .footer__copyright {
    margin-top: 40px;
    font-size: 12px;
  }
}

@media (max-width: 760px) {
  .footer {
    margin-top: 80px;
    padding: 12px;
  }

  .footer__blocks {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .footer__block {
    margin-bottom: 40px;
    width: 100%;
  }

  .footer__columns {
    width: 100%;
  }

  .footer__column:last-child .footer__link::after {
    display: none;
  }
}